generator:
  class: jMobileDoctrineGenerator
  param:
    model_class:           ModelNev
    theme:                 jmobile
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          model_prefix
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields:  
        valami: {label: 'Valami'}
      list:    
        title: "Lista"
        display: [forlist]
        route: @valami_show
        actions: {}
      filter: ~
      form:    ~
      edit: ~
          #_print: 
          #  show: [top, bottom, header]
          #_delete: ~
      new:     
        actions:
          _list: 
            label: 'Menü'
          _save: 
            label: 'Mentés'
      show:
        title: Adatlap
        actions: 
          _list: 
            label: 'Menü'
          _print:
            show: [top] 
            action: print 
            label: 'Nyomtatás'
            # ui-icon: print
            # data-theme: f v e
        display: 
          - id
          - description
